// Colours
$color-1: #000;
$color-2: #fff;

// Typography
$text-baseline             : 21px;
$text-font-family          : Georgia;
$text-font-size            : 16px;
$text-selection-background : #000;
$text-selection-color      : #fff;
$text-color				   : #333;

// Layout
$default-spacing	: 21px;
$small-spacing		: 10px;
$large-spacing		: 42px;

// Grid
$column-width		: 60px;
$gutter-width		: 10px;
$columns-count		: 12;